.breadcrumb {
    background: #ffffff;
}
.nomor{

    margin-left: 450px;
    margin-top: 215px;

}
 .tablet{
    margin-left: 320px;
    margin-top: 45px;
    padding-top: -5px;
    font-size: 18px;
    padding-bottom: -7px;
}

.tanggal{
    margin-left: 450px;
    margin-top: 60px;
}

.ttd{
    margin-top: -60px;
    margin-left: 500px;
}
.nama{
    margin-top: 25px;
    margin-left: 500px;
    margin-bottom: 100px;
}